{include file="public/header"}
<style>
#main-tab td{ font-size:12px; line-height:40px;}
.borderright{ border-right:1px solid #ebebeb}
.borderbottom{ border-bottom:1px solid #ebebeb}
.borderleft{ border-left:1px solid #ebebeb}
.bggray{ background:#f9f9f9; font-size:14px; font-weight:bold; padding:10px 10px 10px 0; width:120px;}
.main-for{ padding:10px;}
</style>
<div class="panel admin" style="top:70px">
   <div class="panel-head"><strong class="icon-reorder"> 留言管理</strong></div>
<!--main_top-->
<table width="99%" border="0" cellspacing="0" cellpadding="0">
 
  <tr>
    <td align="left" valign="top">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
      <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
        <td align="right" class="borderright borderbottom bggray">姓名：</td>
        <td class="borderright borderbottom main-for">{$data.name}</td>
        </tr>
        <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
        <td align="right" class="borderright borderbottom bggray">手机：</td>
        <td class="borderright borderbottom main-for">{$data.phone}</td>
        </tr>
      <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
        <td align="right" class="borderright borderbottom bggray">邮箱：</td>
        <td class="borderright borderbottom main-for">{$data.mail}</td>
        </tr>
      <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
        <td align="right" class="borderright borderbottom bggray">地址：</td>
        <td class="borderright borderbottom main-for">{$data.address}</td>
        </tr>

      <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
        <td align="right" class="borderright borderbottom bggray">留言时间：</td>
        <td class="borderright borderbottom main-for">{$data.addtime|date="Y-m-d H:i:s",###}</td>
      </tr>
      <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
        <td align="right" class="borderright borderbottom bggray">留言内容：</td>
        <td class="borderright borderbottom main-for" style="line-height:24px;">{$data.text}</td>
      </tr>
          <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
        <td align="right"  class="borderright borderbottom bggray">操作：</td>
        <td style="padding-left:10px"><a class="button border-red" href="{:url('message/delete',array('id'=>$data['id']))}"><span class="icon-trash-o"></span> 删除</a></td>
      </tr>
    </table>
    </td>
    </tr>
</table>
</div>
 <!--左侧菜单的点亮--> 
<script>
  function myfun(){
    var site = $(".lsm-sidebar-item").eq(6);
    site.addClass("lsm-sidebar-show");
    site.children('ul').eq(0).css('display',"block");
    site.children('ul').eq(0).children('li').eq(0).children('a').addClass("active");
  }
  window.onload=myfun;
</script>
</body>
</html>