<div class="left-side-menu leftnav" >
  <div class="leftnav-title">
    <strong><span class="icon-list"></span>菜单列表</strong>
  </div>
  <div class="lsm-container">
    <div class="lsm-scroll" >
      <div class="lsm-sidebar">
        <ul>
          <li class="lsm-sidebar-item">
            <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon-sitemap"></i><span>系统设置</span><i class="my-icon lsm-sidebar-more"></i></a>
            <ul>
              <li><a href="{:url('Site/index')}"><span>基本信息</span></a></li>
              <li><a href="{:url('Site/webset')}"><span>网站设置</span></a></li>
              <li><a href="{:url('Site/clear')}"><span>清除缓存</span></a></li>
            </ul>
          </li>

          <li class="lsm-sidebar-item">
            <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon-columns"></i><span>栏目管理</span><i class="my-icon lsm-sidebar-more"></i></a>
            <ul>
              <li><a href="{:url('column/index')}"><span>栏目列表</span></a></li>
              <li><a href="{:url('column/add')}"><span>添加栏目</span></a></li>
            </ul>
          </li>

          <li class="lsm-sidebar-item">
            <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon-hacker-news"></i><span>内容管理</span><i class="my-icon lsm-sidebar-more"></i></a>
            <ul>
              <li><a href="{:url('news/index')}"><span>文章列表</span></a></li>
              <li><a href="{:url('news/draft_box')}"><span>草稿箱</span></a></li>
              <li><a href="{:url('news/add')}"><span>添加文章</span></a></li>
            </ul>
          </li>

          <li class="lsm-sidebar-item">
            <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon-music"></i><span>音乐管理</span><i class="my-icon lsm-sidebar-more"></i></a>
            <ul>
              <li><a href="{:url('music/index')}"><span>音乐列表</span></a></li>
              <li><a href="{:url('music/add')}"><span>添加音乐</span></a></li>
            </ul>
          </li>

          <li class="lsm-sidebar-item">
            <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon-calendar"></i><span>生日管理</span><i class="my-icon lsm-sidebar-more"></i></a>
            <ul>
              <li><a href="{:url('birthday/index')}"><span>生日列表</span></a></li>
              <li><a href="{:url('birthday/add')}"><span>添加生日</span></a></li>
            </ul>
          </li>

          <li class="lsm-sidebar-item">
            <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon-users"></i><span>用户管理</span><i class="my-icon lsm-sidebar-more"></i></a>
            <ul>
              <li><a href="{:url('user/index')}"><span>用户列表</span></a></li>
              <li><a href="{:url('User/add')}"><span>添加用户</span></a></li>
            </ul>
          </li>

          <li class="lsm-sidebar-item">
            <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon-comments"></i><span>留言管理</span><i class="my-icon lsm-sidebar-more"></i></a>
            <ul>
              <li><a href="{:url('message/index')}"><span>留言列表</span></a></li>
            </ul>
          </li>

          <li class="lsm-sidebar-item">
            <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon-comment"></i><span>评论管理</span><i class="my-icon lsm-sidebar-more"></i></a>
            <ul>
              <li><a href="{:url('comment/index')}"><span>评论列表</span></a></li>
            </ul>
          </li>

          <li class="lsm-sidebar-item">
            <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon-image"></i><span>相册管理</span><i class="my-icon lsm-sidebar-more"></i></a>
            <ul>
              <li><a href="{:url('photo/index')}"><span>相册列表</span></a></li>
              <li><a href="{:url('photo/add')}"><span>添加相册</span></a></li>
              <li><a href="{:url('photo/name')}"><span>添加名字</span></a></li>
            </ul>
          </li>
            
          <li class="lsm-sidebar-item">
            <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon-video-camera"></i><span>短片管理</span><i class="my-icon lsm-sidebar-more"></i></a>
            <ul>
              <li><a href="{:url('shortFilm/index')}"><span>短片列表</span></a></li>
              <li><a href="{:url('shortFilm/add')}"><span>添加短片</span></a></li>
            </ul>
          </li>

          <li class="lsm-sidebar-item">
            <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon-heart"></i><span>涵宝乐园</span><i class="my-icon lsm-sidebar-more"></i></a>
            <ul>
              <li class="lsm-sidebar-item">
                <a href="javascript:;"><i class="my-icon lsm-sidebar-icon "></i><span>视频1</span><i class="my-icon lsm-sidebar-more"></i></a>
                <ul>
                  <li><a href="{:url('hanDance/index')}"><span>视频列表</span></a></li>
                  <li><a href="{:url('hanDance/add')}"><span>添加视频</span></a></li>
                </ul>
              </li>
              <li class="lsm-sidebar-item">
                <a href="javascript:;"><i class="my-icon lsm-sidebar-icon "></i><span>视频2</span><i class="my-icon lsm-sidebar-more"></i></a>
                <ul>
                  <li><a href="{:url('hanVideoTwo/index')}"><span>视频列表</span></a></li>
                  <li><a href="{:url('hanVideoTwo/add')}"><span>添加视频</span></a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>