{include file="public/header"}
<style>
.alert-content{
  width:100%;
  color: #468847;
  height: 34px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-top: 6px;
  background-color: #CCFF99;
  border-bottom: solid 1px #ddd;
}

</style>

<div class="admin" style="top:70px">
 <div class="panel-head" id="add" style="display:black"><strong><span class="icon-pencil-square-o"></span>修改短片</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{:url('short_film/save')}">  
      <div class="form-group">
        <div class="label">
          <label>标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" style="width:50%" value="{$data.title}" name="title" id="title"/>
          <div class="tipss" id="titletips" style="color:red"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>作者：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" style="width:50%" value="{$data.author}" name="author"/>
        </div>
      </div>  
      <div class="form-group">
        <div class="label">
          <label>缩略图：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" style="width:50%" value="{$data.thumb}" name="thumb"/>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>描述：</label>
        </div>
        <div class="field">
          <textarea class="input" name="description" style=" height:90px;width:50%">{$data.description}</textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>置顶：</label>
        </div>
        <div class="field">
            {if condition="$data.top eq 1"}
                <input type="radio" class="" value="1" name="top" checked/>是
                <input type="radio" class="" value="0" name="top"/>否
            {else /}
                <input type="radio" class="" value="1" name="top" />是
                <input type="radio" class="" value="0" name="top" checked/>否   
            {/if}
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>内容：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" style="width:50%" value="{$data.content}" name="content"/>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit" onclick="this.form.status.value='0';">发布</button>
        </div>
      </div>
		<input type="hidden" name = "id" value="{$data.id}">
    </form>
  </div>
</div>
 <!--左侧菜单的点亮--> 
<script>
  function myfun(){
    var site = $(".lsm-sidebar-item").eq(9);
    site.addClass("lsm-sidebar-show");
    site.children('ul').eq(0).css('display',"block");
    site.children('ul').eq(0).children('li').eq(1).children('a').addClass("active");
  }
  window.onload=myfun;
</script>
<script>
//提交表单前先进行验证
function check(){
  var title = $("#title").val();
  if(title==""){
    $('#titletips').html("标题不能为空");
    $("#title").focus(); 

    return false;
  }

}

</script>
</body>
</html>
