{include file="public/header"}
<div class="admin" style="top:70px">
  <div class="panel-head" id="add" style="display:black">
    <strong><span class="icon-pencil-square-o"></span>修改音乐</strong>
  </div>
  <div class="body-content">
    <form method="post" class="form-x" action="{:url('music/save')}" enctype="multipart/form-data">  
      <div class="form-group">
        <div class="label">
          <label>标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" style="width:50%" value="{$data.title}" name="title" id="title" data-validate="required:请输入标题" />
          <div class="tipss" id="titletips" style="color:red"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>缩略图：</label>
        </div>
        <div class="field">
          <input type="text" id="file"  name = "thumb" class="input tips" style="width:25%; float:left;"  value="{$data.thumb}"  data-toggle="hover" data-place="right" data-image="" />
          <div class="tipss">图片尺寸：400*224</div>
        </div>
      </div>     
      <div class="form-group">
        <div class="label">
          <label>内容：</label>
        </div>
        <div class="field">
          <input type="url" class="input w50" style="width:50%" name="content" value="{$data.content}" id='content' />
          <div class="tipss" id="contenttips" style="color:red"></div>
        </div>
      </div>
     
      <div class="clear"></div>

      <div class="form-group">
        <div class="label">
          <label>排序：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="sort" value="{$data.sort}"  data-validate="number:排序必须为数字" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>发布时间：</label>
        </div>
        <div class="field"> 

          <input type="text" class="laydate-icon input w50"  id = "test-n1" name="addtime" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$data.addtime}"  data-validate="required:日期不能为空" style="padding:10px!important; height:auto!important;border:1px solid #ddd!important;" />
          <script src="__PUBLIC__/js/laydate/laydate.js"></script>
          <script>
              laydate.render({
              elem: '#test-n1',
              type:'datetime',
              istime: true,
              format: 'yyyy-MM-dd HH:mm:ss',

          });
          </script>

          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>点击次数：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="views" value="{$data.views}" data-validate="member:只能为数字"  />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>分类：</label>
        </div>
          <div class="field">
              <select name="fenlei" class="input w50">
                 {if condition="$data.fenlei eq 1"}
                            <option value="1">视频</option>
                            <option value="2">音频</option>
                  {elseif condition="$data.fenlei eq 2"}
                                              <option value="2">音频</option>
                            <option value="1">视频</option>

                  {/if}
                        </select>
                        <div class="tips"></div>
          </div>
      </div>
    	<div class="form-group">
        <div class="label">
          <label>歌词：</label>
        </div>
        <div class="field">
          <textarea name="lyrics" style="height:450px; width:50%">{$data.lyrics}</textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit">发布</button>
        </div>
      </div>
      <input type="hidden" name = "id" value="{$data.id}">
    </form>
  </div>
</div>
 <!--左侧菜单的点亮--> 
<script>
  function myfun(){
    var site = $(".lsm-sidebar-item").eq(3);
    site.addClass("lsm-sidebar-show");
    site.children('ul').eq(0).css('display',"block");
    site.children('ul').eq(0).children('li').eq(1).children('a').addClass("active");
  }
  window.onload=myfun;
</script>



</body>
</html>