{include file="public/header"}
<style>
.button{
  padding:6px;
}
.table td{
border:1px solid #ddd;
}

</style>

<form method="post" action="" id="listform">
  <div class="admin" style="top:70px">
    <div class="panel-head"><strong class="icon-reorder">视频1列表</strong></div>
    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <li> <a class="button border-main icon-plus-square-o" href="add.html"> 添加视频</a> </li>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>

        <th width="50">ID</th>
        <th >标题</th>
        <th width="10%">添加时间</th>
        <th width="8%">操作</th>
      </tr>
      {volist name="list" id="vo" }
        <tr>
          <td style="text-align:center;">{$vo.id}</td>
          <td style="text-align:left">{$vo.title}</td>
          <td>{$vo.addtime}</td>
          <td><div class="button-group"> <a class="button border-main" href="{:url('HanDance/eidt',array('id'=>$vo['id']))}"><span class="icon-edit"></span> 修改</a> <a class="button border-red" href="javascript:void(0)" onclick="return del({$vo.id})"><span class="icon-trash-o"></span> 删除</a> </div></td>
        </tr>
        {/volist}
      <tr>
        <td colspan="9">{$page}</td>
      </tr>
    </table>
  </div>
</form>

 <!--左侧菜单的点亮--> 
<script>
  function myfun(){
    var site1 = $(".lsm-sidebar-item").eq(10).addClass("lsm-sidebar-show");
        site1.children('ul').eq(0).css('display',"block");

    var site = $(".lsm-sidebar-item").eq(11);
        site.addClass("lsm-sidebar-show");
        site.children('ul').eq(0).css('display',"block");
        site.children('ul').eq(0).children('li').eq(0).children('a').addClass("active");
  }
  window.onload=myfun;
  
  //单个删除
function del(id){

var id =id;

  if(confirm("您确定要删除吗?")){
      location.href='/admin/HanDance/delete/id/'+id;
  }
}
</script>
</body>
</html>