{include file="public/header"}
  </script>
<div class="admin" style="top:70px">
  <div class="panel-head"><strong class="icon-reorder">栏目列表</strong></div>
  <div class="padding border-bottom">
    <a class="button border-yellow" href="{:url('column/add')}"><span class="icon-plus-square-o"></span> 添加栏目</a>
  </div>
  <table class="table table-hover text-center">
    <tr>
      <th width="10%">ID</th>
      <th width="30%">栏目名称</th>
      <th width="10%">栏目级别</th>
      <th width="10%">链接</th>
      <th width="10%">导航栏</th>
      <th width="10%">文章</th>
      <th width="50%">操作</th>
    </tr>
  {volist name="cate" id="vo"}
    <tr style="border-bottom: 1px solid #ddd;">
      <td>{$vo.id}</td>
      <td style="float:left;border-top: aliceblue;padding-bottom: 20px;">{$vo.html}{$vo.catname}</td>
      <td >{$vo.level}</td>      
      <td style="border-top: aliceblue;padding-bottom: 20px;">{$vo.html}{$vo.url}</td>
      <td >{if condition="$vo.is_navigation eq 1"}是{else /}否{/if}</td>
      <td >{if condition="$vo.is_news eq 1"}是{else /}否{/if}</td>
      <td style="float:right">
        <div class="button-group">
          <a class="button border-yellow" href="{:url('column/cateadd',['id' => $vo['id']])}"><span class="icon-plus-square-o"></span>添加子栏目</a> 
          <a class="button border-main" href="{:url('column/edit',['id' => $vo['id']])}"><span class="icon-edit"></span> 修改</a> 
          <a class="button border-red" href="{:url('column/delete',['id'=>$vo['id']])}" ><span class="icon-trash-o"></span> 删除</a> 
        </div>
      </td>
    </tr>
   {/volist}

  </table>
</div>
 <!--左侧菜单的点亮--> 
<script>
  function myfun(){
    var site = $(".lsm-sidebar-item").eq(1);
    site.addClass("lsm-sidebar-show");
    site.children('ul').eq(0).css('display',"block");
    site.children('ul').eq(0).children('li').eq(0).children('a').addClass("active");
  }
  window.onload=myfun;
</script>
</body>
</html>