<div class="footer">
  <div class="footer_com clearfix">
    <div class="di_nav">
      <p style="color: #fff;">版权说明:本站所有资讯都来源于网络 ，如有侵权请及时与我们联系</p>
      <p style="color: #fff;">Copyright © 2016 湘ICP备18001166号-1</p>
      <p style="color: #fff;"><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=43010402000676" style="text-decoration:none;height:20px;line-height:20px;"><img src="/static/picture/index/beian.png" style="float:left;"/>湘公网安备 43010402000676号</a></p>
    </div>
      
      <div class="er_right">
        <div class="er">
          <div class="pic">
            <img src="__PUBLIC__/images/xiaochengxu.jpg" alt="" class="vcenter" />
            <i></i>
          </div>
          <div class="text">
            <span>微信小程序</span>
          </div>
        </div>

      </div>
      
    </div>
  </div>


  <!--移动端  Mmenu-->
  <nav id="mmenu">
    <ul>
      <li><a href="/">首页</a></li>
      <li><a href="{:url('news/index')}">梅城新闻</a></li>
      <li><a href="{:url('yuer/index')}">育儿知识</a></li>
      <li><a href="{:url('singer/index')}">演唱作品</a></li>
      <li><a href="{:url('health/index')}">健康小百科</a></li>
      <li><a href="{:url('antifraud/index')}">防骗指南</a></li>
      <li><a href="{:url('message/index')}">给我留言</a></li>
    </ul>
  </nav>  

