  <header class="header">
    <div class="container clearfix">
      <div class="logo">
        <a href="/"><img src="__PUBLIC__/images/index/logo.jpg" alt="" /></a>
      </div>
      <a href="#mmenu" class="iconfont phone-nav">
         <span class="glyphicon glyphicon-align-justify"></span>
      </a>
      <div class="nav_right">
        <ul>
          <li><a href="/">首页</a></li>
          <li><a href="{:url('news/index')}">梅城新闻</a></li>
          <li><a href="{:url('yuer/index')}">育儿知识</a></li>
          <li><a href="{:url('singer/index')}">演唱作品</a></li>
          <li><a href="{:url('health/index')}">健康小百科</a></li>
          <li><a href="{:url('antifraud/index')}">防骗指南</a></li>
          <li><a href="{:url('message/index')}">给我留言</a></li>
        </ul>
      </div>
    </div>
    <div class="dian_div">
      <div class="container">
        <span></span>
      </div>
    </div>
  </header>

