{include file="public/header"}
  <div class="admin" style="top:70px">
    <div class="panel-head"><strong><span class="icon-key"></span> 添加用户</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{:url('User/edit')}">
      <div class="form-group">
        <div class="label">
          <label for="sitename">用户名：</label>
        </div>
        <div class="field">
          <label style="line-height:33px;">
           {$data.username}
          </label>
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label for="sitename">昵&nbsp;&nbsp;称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50"  name="realname" size="50" value="{$data.realname}" />       
        </div>
      </div> 
       <div class="form-group">
        <div class="label">
          <label for="sitename">分&nbsp;&nbsp;类：</label>
        </div>
        <div class="field">
               <select name="catid" class="input w50">
                  <option value="0">0</option>
                  <option  selected ="selected" value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
               </select>
        </div>
      </div>     
       <div class="form-group">
        <div class="label">
          <label for="sitename">原始密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" id="mpass" name="mpass" size="50" placeholder="请输入原始密码" data-validate="required:请输入原始密码" />       
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label for="sitename">新&nbsp;密&nbsp;码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" name="newpass" size="50" placeholder="请输入新密码" data-validate="required:请输入新密码,length#>=5:新密码不能小于5位" />         
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">确认新密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" name="renewpass" size="50" placeholder="请再次输入新密码" data-validate="required:请再次输入新密码,repeat#newpass:两次输入的密码不一致" />          
        </div>
      </div>
      <input type="hidden" name='id' value="{$data.userid}">
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>   
        </div>
      </div>      
    </form>
  </div>

 <!--左侧菜单的点亮--> 
<script>
  function myfun(){
    var site = $(".lsm-sidebar-item").eq(5);
    site.addClass("lsm-sidebar-show");
    site.children('ul').eq(0).css('display',"block");
    site.children('ul').eq(0).children('li').eq(1).children('a').addClass("active");
  }
  window.onload=myfun;
</script>
</body>
</html>